{{ $currentPage := . }}
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">mmcsales@merrickmachine.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 800-568-7423 ext. 133</span></i>
      </div>
      
    </div>
  </section>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo me-auto" style="color:#000000; text-decoration: none;">
            {{ $img := resources.Get "img/logo.png" }}
            {{ with $img }}
            <img src="{{ $img.RelPermalink }}" alt="Triad Logo" class="img-fluid">
            {{ end }} {{ .Site.Title }}</a>
        </a>
<!-- Navigation -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid text-center">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">&gt;</a>                
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
            <li><a href="http://triadruvoparts.com" class="getstarted" target="_blank">Parts & Service</a></li>
      </ul>
    </div>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
</div>
</header>