  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="container">
        {{ $images := .Resources.ByType "image" }}
        {{ $ratio := (slice 16 9) }}
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        {{ $images := .Resources.ByType "image" }}
        {{ $ratio := (slice 16 9) }}
        {{ range $index, $value := $images }}
          {{ $width := $value.Width }}
          {{ $heightRatio := div (index $ratio 1 | float) (index $ratio 0 | float) }}
          {{ $height := mul $width $heightRatio | int }}
          {{ $fill := $value.Fill (printf "%dx%d" $width $height) }}
          {{ if eq $index 0 }}
        <div class="carousel-item active" style="background-image: url('{{ $fill.RelPermalink }}')">  
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">{{ .Params.hero.mainTextOver }}</h2>
              <p class="animate__animated animate__fadeInUp">{{ .Params.hero.subTextOver }}
              </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{ .Params.hero.buttonText }}</a>
            </div>
          </div>
        </div>
          {{ else }}
        <div class="carousel-item" style="background-image: url('{{ $fill.RelPermalink }}')">  
          <div class="carousel-container">
            <div class="container">
              &nbsp;
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>


      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
  </section><!-- End Hero -->