    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12">
              <h2>Why Choose Triad Machines?</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="icon-box">
                <i class="bi bi-briefcase"></i>
                <h4><a href="#">Our Experience Speaks for Itself</a></h4>
                <p>With over 60 continuous years in operation, we have the know-how to help you see your vision become a reality. As just one of a family of diversified companies, we are here for the "long haul".</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="bi bi-card-checklist"></i>
                <h4><a href="#">Fastest Lead Times in the Industry</a></h4>
                <p>Not a slogan, but a FACT. It's the way we do business, helping you to be up and running in the shortest amount of time possible.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="bi bi-bar-chart"></i>
                <h4><a href="#">A Knowledgable Sales Team</a></h4>
                <p>Lowell Tuma, our National Sales Manager, and Lanny Morris, our Assistant National Sales Manager lead a nationwide team of independent reps. You have questions, and they have your answers.</p>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h4><a href="#">Innovative Engineering</a></h4>
                <p>While we provide many machines built on proven designs, we are also proud to be The Innovators. Machines like our ProFusion Sheathing Bridge AND our StairBoss Pro perform like nothing you will find elsewhere.</p>
              </div>
            </div>
          </div>  
        </div>
      </section><!-- End Services Section -->